@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

body{
  height: screen;
  background: #0E2B40;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}